/*===== NAV =========================================================================*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
    border-bottom: 2px solid var(--border-color); /* Added border at the bottom of the nav */
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: #fff;
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav__logo {
    color: var(--second-color);
}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* Ocultar el icono del menú de hamburguesa por defecto */
}

/*Active menu*/
.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*=== Show menu =========================================================================*/
.show {
    right: 0;
}

/*=== Responsive =========================================================================*/
@media screen and (max-width: 768px) {
    .nav__menu {
<<<<<<< HEAD
        display: none; /* Ocultar el menú por defecto en pantallas pequeñas */
=======
        position: fixed;
        top: var(--header-height);
        right: -100%; /* Ocultar el menú por defecto en pantallas pequeñas */
        width: 100%;
        height: calc(100vh - var(--header-height));
        background-color: #000; /* Color de fondo del menú de hamburguesa */
        transition: 0.3s ease; /* Agregar transición suave */
>>>>>>> 728f6c1fe90a13ac054225c47d3d02a60e1cf668
    }

    .nav__toggle {
        display: block; /* Mostrar el icono del menú de hamburguesa en pantallas pequeñas */
    }

    .show {
        right: 0; /* Mostrar el menú de hamburguesa cuando está activo */
    }

    .nav__list {
        flex-direction: column; /* Mostrar los elementos del menú en una columna */
        text-align: center; /* Centrar el texto en pantallas pequeñas */
        padding: 2rem 0; /* Añadir espacio alrededor de los elementos del menú */
    }

    .nav__item {
        margin-bottom: 1.5rem; /* Espacio entre elementos del menú */
    }

    .nav__link {
<<<<<<< HEAD
        color: #000; /* Texto en negro */
    }

    .ant-drawer-body {
        background-color: #fff !important; /* Fondo blanco para el Drawer */
        color: #000 !important; /* Texto negro para el Drawer */
=======
        color: #fff;
>>>>>>> 728f6c1fe90a13ac054225c47d3d02a60e1cf668
    }
}
